.sectionBanner {
    margin-bottom: 70px;
    @media screen and (max-width: 768px){
        margin-top: 0;
        margin-bottom: 0;
    }
    picture {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
